.container {
    max-width: 600px; /* Ajusta el tamaño del contenedor según sea necesario */
  }
  
  .small-calendar {
    width: 200%; /* Ajusta el ancho del calendario para que ocupe todo el ancho del contenedor */
    max-width: 600px; /* Limita el ancho máximo del calendario */
    margin: auto; /* Centra el calendario horizontalmente dentro del contenedor */
  }

  .barber-image {
    width: 50px; /* Ancho deseado */
    height: 50px; /* Altura deseada */
    border-radius: 50%; /* Hace que la imagen sea redonda */
}

.confirmation-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.confirmation-message p {
  margin-bottom: 10px;
}

.confirmation-message button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.confirmation-message button:hover {
  background-color: #0056b3;
}

/* Fondo oscuro */
.dark-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Ajusta el valor al nivel de opacidad deseado */
  z-index: 999; /* Asegúrate de que el fondo esté detrás del mensaje de confirmación */
}