<div class="container">
  <full-calendar [options]="calendarOptions" class="small-calendar"></full-calendar>

  <!-- Mostrar los peluqueros disponibles -->
  <div *ngIf="showBarbers">
    <h3>Selecciona un peluquero:</h3>
    <div class="barbers">
      <div *ngFor="let barber of availableBarbers" class="barber" (click)="selectBarber(barber)">
        <img src="../../images/avatar.jpg" alt="Avatar" class="barber-image">
        <p>{{ barber.nombre }}</p>
      </div>
    </div>
  </div>

  <!-- Mostrar las horas disponibles -->
  <div *ngIf="selectedBarber && availableHours.length > 0">
    <h3>Horas disponibles para el {{ selectedDate }} con {{ selectedBarber.nombre }}:</h3>
    <div class="available-hours">
      <button *ngFor="let hour of availableHours" (click)="selectHour(hour)" class="btn btn-primary mb-2 mx-2">{{ hour }}</button>
    </div>
  </div>

  <!-- Elegir servicio -->
  <div *ngIf="selectedHour">
    <h3>Elegir servicio para la hora {{ selectedHour }}:</h3>
    <div class="services">
      <button (click)="selectService('Corte de pelo - 15€')" class="btn btn-primary mb-2 mx-2">Corte de pelo - 15€</button>
      <button (click)="selectService('Corte de pelo + cejas - 19€')" class="btn btn-primary mb-2 mx-2">Corte de pelo + cejas - 19€</button>
      <button (click)="selectService('Corte de pelo + barba - 23€')" class="btn btn-primary mb-2 mx-2">Corte de pelo + barba - 23€</button>
    </div>
  </div>

  <!-- Botón para hacer la reserva -->
  <div *ngIf="showReservationButton">
    <button type="button" class="btn btn-success" (click)="makeReservation()">Hacer Reserva</button>
  </div>

  <!-- Mensaje de confirmación -->
  <div *ngIf="showConfirmation" class="dark-overlay">
    <div class="confirmation-message">
      <p>¡Reserva realizada con éxito!</p>
      <button (click)="acceptConfirmation()">Aceptar</button>
    </div>
  </div>
</div>
