<div class="container change-credentials-container mt-4">
  <h2 class="text-center">Cambiar Credenciales</h2>
  <form (ngSubmit)="verifyCurrentPassword()">
    <div class="form-group">
      <label for="currentPassword">Contraseña Actual</label>
      <input type="password" class="form-control" id="currentPassword" [(ngModel)]="currentPassword" name="currentPassword" required>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Verificar Contraseña</button>
  </form>

  <div *ngIf="isPasswordVerified" class="mt-4 text-center">
    <button class="btn btn-secondary mr-2" (click)="showChangeEmailForm()">Cambiar Correo</button>
    <button class="btn btn-secondary" (click)="showChangePasswordForm()">Cambiar Contraseña</button>
  </div>

  <div *ngIf="showEmailForm" class="mt-4">
    <h3 class="text-center">Cambiar Correo</h3>
    <form (ngSubmit)="changeEmail()">
      <div class="form-group">
        <label for="currentEmail">Correo Actual</label>
        <input type="email" class="form-control" id="currentEmail" [(ngModel)]="currentEmail" name="currentEmail" [readonly]="true">
      </div>
      <div class="form-group">
        <label for="newEmail">Nuevo Correo</label>
        <input type="email" class="form-control" id="newEmail" [(ngModel)]="newEmail" name="newEmail" required>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Cambiar Correo</button>
    </form>
  </div>

  <div *ngIf="showPasswordForm" class="mt-4">
    <h3 class="text-center">Cambiar Contraseña</h3>
    <form (ngSubmit)="changePassword()">
      <div class="form-group">
        <label for="newPassword">Nueva Contraseña</label>
        <input type="password" class="form-control" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirmar Nueva Contraseña</label>
        <input type="password" class="form-control" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Cambiar Contraseña</button>
    </form>
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger mt-4">{{ errorMessage }}</div>
  <div *ngIf="successMessage" class="alert alert-success mt-4">{{ successMessage }}</div>
</div>
