<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow p-4">
    <h2 class="text-center mb-4">Iniciar sesión</h2>
    <form (keydown.enter)="login()">
      <div class="form-group" [class.error]="showErrorAnimation"> <!-- Aplicar clase de animación de error -->
        <label for="email" class="text-muted">Correo electrónico</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Ingrese su correo electrónico" [(ngModel)]="email">
      </div>
      <div class="form-group" [class.error]="showErrorAnimation"> <!-- Aplicar clase de animación de error -->
        <label for="password" class="text-muted">Contraseña</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Ingrese su contraseña" [(ngModel)]="password">
      </div>
      <button type="button" class="btn btn-primary btn-block" (click)="login()">Iniciar sesión</button>
      <!-- Añadir mensaje de error -->
      <div *ngIf="errorMessage" class="text-danger mt-2">{{ errorMessage }}</div>
      <div class="text-center mt-3">
        <a routerLink="/register" class="btn btn-link">¿No tienes una cuenta? Regístrate</a>
      </div>
    </form>
  </div>
</div>
