@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.css";

@font-face {
    font-family: 'MiFuente';
    src: url('../src/font/Bebas-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'MiFuente', sans-serif;
}
