<div class="container reservations-container mt-5">
  <div *ngIf="reservations.length > 0" class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nombre del Cliente</th>
          <th scope="col">Fecha</th>
          <th scope="col">Hora</th>
          <th scope="col">Nombre del Peluquero</th>
          <th scope="col">Estado</th>
          <th scope="col">Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of reservations">
          <td>{{ reservation.nombre_cliente }}</td>
          <td>{{ reservation.fecha }}</td>
          <td>{{ reservation.hora }}</td>
          <td>{{ reservation.peluquero }}</td>
          <td>{{ reservation.estado }}</td>
          <td>
            <button class="btn btn-danger" (click)="cancelReservation(reservation.fecha, reservation.hora, reservation.id_cliente)">Cancelar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="reservations.length === 0">
    <p>No hay reservas disponibles.</p>
  </div>
</div>
