<footer>
  <div class="footer-container">
    <div class="footer-content">
      <div class="footer-section">
        <h4>Contactanos</h4>
        <p><img src="../../images/location.png" alt="Icono de Direccion" class="icon"> Calle Miguel de Cervantes, Guadalajara</p>
        <p><img src="../../images/phone.png" alt="Icono de Telefono" class="icon"> +34 678653789</p>
        <p><img src="../../images/email.png" alt="Icono de Correo" class="icon"> urbano97&#64;gmail.com</p>
      </div>
      <div class="footer-section">
        <h4>Siguenos</h4>
        <div class="social-links">
          <a href="https://www.facebook.com/?locale=es_ES"><img src="../../images/facebook.png" alt="Facebook" class="icon"></a>
          <a href="#"><img src="../../images/twitter.png" alt="Twitter" class="icon"></a>
          <a href="#"><img src="../../images/instagram.png" alt="Instagram" class="icon"></a>
          <a href="#"><img src="../../images/youtube.png" alt="YouTube" class="icon"></a>
          <a href="#"><img src="../../images/pinterest.png" alt="Pinterest" class="icon"></a>
        </div>
      </div>
      <div class="footer-section">
        <h4>Suscribete</h4>
        <form class="subscribe-form">
          <input type="email" placeholder="Tu correo aqui" required>
          <button type="submit" class="btn btn-primary">Suscribete</button>
        </form>
        <p class="disclaimer">Al marcar la casilla, confirmas que tienes al menos 18 años de edad.</p>
      </div>
      <div class="footer-section">
        <h4>Horario</h4>
        <p>Lunes a Viernes: 10 AM - 7 PM</p>
        <p>Sabado: 10 AM - 5 PM</p>
        <p>Domingo: Cerrado</p>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 Urbano 87. Todos los derechos reservados.</p>
      <ul class="footer-links">
        <li>Terminos del Sitio Web</li>
        <li>Politica de Privacidad</li>
        <li>Declaracion de Accesibilidad</li>
        <li>Ley de Transparencia en la Cadena de Suministro de CA</li>
        <li>Codigo de Conducta del Proveedor</li>
      </ul>
    </div>
  </div>
</footer>
